<%- include('../Components/header.ejs') %>
<body>
  <%- include('../Components/dark_light.ejs') %>

  <main class="d-flex flex-nowrap">
    <%- include('../Components/sidebar.ejs',{path:'view'}) %>

    <section class="w-100">
      <%- include('../Components/navbar.ejs') %>

      <nav
        style="width: 88%"
        class="px-2 mt-4 d-flex flex-wrap justify-content-between"
        aria-label="breadcrumb"
      >
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page"><%= result.firstName + " " + result.lastName %></li>
        </ol>

        <p class=" ">
          <span class="fw-medium fs-6">Id :</span> <%= result._id%>
        </p>
      </nav>

      <table
        style="width: 88%"
        class="ms-1 table mt-5 table-striped table-bordered"
      >
        <thead>
          <tr>
            <th scope="col">First Name</th>
            <th class="fw-normal" scope="col"><%= result.firstName%></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Last Name</th>
            <td><%= result.lastName%></td>
          </tr>

          <tr>
            <th scope="row">Telephone</th>
            <td><%= result.phoneNumber%></td>
          </tr>

          <tr>
            <th scope="row">Email</th>
            <td><%= result.email%></td>
          </tr>

          <tr>
            <th scope="row">Gender</th>
            <td><%= result.gender%></td>
          </tr>

          <tr>
            <th scope="row">Age</th>
            <td><%= result.age%></td>
          </tr>

          <tr>
            <th scope="row">Country</th>
            <td><%= result.country%></td>
          </tr>

          <tr>
            <th scope="row">Created on</th>
            <td><%= moment(result.createdAt).fromNow()  %></td>
          </tr>

          <tr>
            <th scope="row">Last Update</th>
            <td><%= moment(result.updatedAt).fromNow()  %></td>
          </tr>
        </tbody>
      </table>
    </section>
  </main>
  <%- include('../Components/end.ejs') %>
</body>
